@model IEnumerable<DIUN_dotnet_mvc_statuspage.Models.DiunUpdateModel>

@{
    ViewData["Title"] = "Docker Image Update Notifier - Status Page - ";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hostname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.provider)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hub_link)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.digest)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.diun_version)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.hostname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.provider)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.platform)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hub_link)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.digest)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.diun_version)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Clear / Delete Notice</a>
                </td>

                <td>
                    <form asp-action="Delete">
                        <input type="hidden" asp-route-id="@item.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>

                </td>
            </tr>
        }
    </tbody>
</table>
